<div style="background-image: url('https://images.unsplash.com/uploads/14133952228810cd761f5/91656487?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); background-size: cover">
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-white">Welcome to GeekSeek</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-white">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img src="https://i.postimg.cc/DSBL10Sw/geekseek-logo2-1.png">
                    </figure>
                    <div class="form">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large email" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large password" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                <input type="checkbox">
                Remember me
            </label>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" id="login_button">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </div>
                </div>
                <p class="has-text-grey">
                    <a href="/newuser">Sign Up</a> &nbsp;·&nbsp;
                </p>
            </div>
        </div>
    </div>
</section>
</div>
<script src="/js/login.js"></script>
