 <!-- Navbar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a> -->
      <a class="navbar-item" href="../">
        <a href='https://postimg.cc/zbJZ5r6H' target='_blank'><img src='https://i.postimg.cc/zbJZ5r6H/geekseek-logo2.png' alt='geekseek-logo2'/></a>
    </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

      <div class="navbar-end">
        <span class="navbar-item">
            <a class="button is-black is-outlined is-rounded" href="#">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <span>Home</span>
            </a>
        </span>
        <span class="navbar-item">
            <a class="button is-black is-outlined is-rounded" href="#">
                <span class="icon">
                    <i class="fa fa-user-circle-o"></i>
                </span>
                <span>View Profile</span>
            </a>
        </span>
        <span class="navbar-item">
            <a class="button is-black is-outlined is-rounded" href="#">
                <span class="icon">
                    <i class="fa fa-hand-peace-o"></i>
                </span>
                <span>Log Out</span>
            </a>
        </span>
        </div>
      </div>
    </div>
  </nav>
  
   <!-- Section -->
    <section class="hero is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Find Your Geek!
          </p>
          <p class="subtitle">
            Whether you're into D&D, console gaming, or reading from your hoard of books that you slumber on like Smaug, there is bound to be a geek like you!
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="columns features">

        {{#each users as |user| }}
        {{!-- {{#if user.id != req.session.id}} --}}
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{ first_name }}</h4>
                <p>{{ description }}</p>
                <a href="/profile/{{user.id}}" class="button is-link modal-button" >Profile</a>
              </div>
            </div>
          </div>
        </div>
        {{!-- {{/if}} --}}
        {{/each}}

        <a href="/profile/{{myId}}" class="button is-link modal-button" >My Profile</a>

        {{!-- <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>This dude loves staring at stoplights.</h4>
                <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                sed risus.</p>
                <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4 modal-button" data-target="modal-image">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>That good kush</h4>
                <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <span class="button is-link modal-button" data-target="modal-image">Image modal</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="columns features">
        <div class="column is-4 modal-button" data-target="modal-card">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>That better kush</h4>
                <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                <span class="button is-link modal-button">Modal card</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly image" class="modal-button" data-target="modal-image4">
              </figure>
            </div>
            <div class="card-content  modal-button" data-target="modal-card2">
              <div class="content">
                <h4>Trampstamp worthy<br></h4>
                <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis.</p>
                <span class="button is-link modal-button">Modal card</span>
              </div>
              
            </div>
          </div> --}}
        {{!-- </div> --}}
      </div>
    </section>
    <footer>
</figure>
                
        <!-- end content -->
      </div>
      <!-- <button class="modal-close is-large" aria-label="close"></button> -->
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-image2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="image">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal -->
    <div id="modal-image4" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal-->
    <div id="modal-image" class="modal modal-fx-superScaled">
      <div class="modal-background"></div>
      <div class="modal-content  is-image">
        <!-- content -->
        <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image">
        <!--     <img src="https://source.unsplash.com/zFrUz_tNjCY" alt="placeholder">
        -->    <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
