  <style>html {
    background: linear-gradient(0.25turn, #6a5ce6, #f2b3fa);
  }

body {
    color: white;
  }
  
  .textarea {
    display: flex;
    padding: calc(.75em - 1px);
    resize: vertical;
}

  h1 {
    font-size: 2.5em;
    padding-bottom: 60px;
    color: white;
  }
  h2 {
    font-size: 1.2em;
    padding-bottom: 80px;
    color: white;
  }
  .summary{
    margin-left: 21.5%;
  }
  .desc-label{
    margin-left: 12%;
  }
  #submit_btn{
    margin-left: 48%;
  }
  .label {
    font-size: 1.2em;
    font-weight: 200;
    color: white;
  }
  .input {
  display: block;
  margin-left: auto;
  margin-right: 34%;
  margin-bottom: 3%;
  width: 30%;
  }

  .drop-down{
      margin-left: 21.5%;
      }</style>
  
  <header>
      
    <h1 class="has-text-centered">Welcome New Geek!</h1>
    <h2 class="has-text-centered"> We just need a few more details from ya</h2>
</header>

   <div class="container">
     <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Name (First)</label>
    </div>
     <input id="first-name" class="input"/>
   </div>

    <div class="container">
     <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Name (Last)</label>
    </div>
     <input id="last-name" class="input"/>
   </div>
   
   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Email</label>
    </div>
     <input id="email" class="input"/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Password</label>
    </div>
     <input class="input" type="tel" id="password" placeholder="Super frickin' secret"/>
   </div>

   <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">I am a</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Trans</option>
              <option>Non-Binary</option>
              <option>Prefer Not To Say</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">I am looking for a</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="seeking_gender">
              <option>Male</option>
              <option>Female</option>
              <option>I don't care what's in your pants</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* My Age is</label>
    </div>
     <input id="age" class="input"/>
   </div>

    <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">Ethnicity</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="ethnicity">
              <option>African-American</option>
              <option>Asian</option>
              <option>Caucasian</option>
              <option>Hispanic/Latino</option>
              <option>Other</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">My Education Level Is</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="education">
              <option>Some High School</option>
              <option>High School Graduate</option>
              <option>Some College</option>
              <option>Bachelors (Undergraduate) Degree</option>
              <option>Masters Degree</option>
              <option>Doctorate Degree</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Show</label>
    </div>
     <input class="input" type="text" id="tvshow" placeholder="It's ok to say 'The Bachelor'"/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Movie</label>
    </div>
     <input class="input" type="text" id="movie" placeholder="Which movie made you ugly cry?"/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Taste in Music</label>
    </div>
     <input class="input" type="text" id="music" placeholder="What genre makes you jam out?"/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Book</label>
    </div>
     <input class="input" type="text" id="book" placeholder="There's more than Game of Thrones?"/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Hobbies</label>
    </div>
     <input class="input" type="text" id="hobbies" placeholder="Hanging out with your cat counts."/>
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Idea of Fun</label>
    </div>
     <input class="input" type="text" id="fun" placeholder="Going outside? Staying in?"/>
   </div>

   <div class="field-body summary">
    <div class="field-label is-normal">
      <label class="label desc-label">What kind of Geek are you?</label>
    </div>
    <div class="field-body description">
      <div class="field">
        <div class="control">
          <textarea class="textarea" id="geek" placeholder="Seriously if you put 'I love hiking' I'm gonna lose it."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="field">
      <!-- Left empty for spacing -->
    </div>
    </div>
  </div>

   <button class="button is-primary" id="submit_btn">
            Submit
          </button>
   </div>


{{!-- </div> --}}
<script src="/js/newUser.js"></script>