  <header>
      
    <h1 class="has-text-centered">Welcome New Geek!</h1>
    <h2 class="has-text-centered"> We just need a few more details from ya</h2>
</header>

   <div class="container">
     <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Name (First and Last)</label>
    </div>
     <input class="input">
   </div>
   
   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Email</label>
    </div>
     <input class="input">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Password</label>
    </div>
     <input class="input" type="tel" id="password" placeholder="Super frickin' secret">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >* Username</label>
    </div>
     <input class="input" type="tel" id="username" placeholder="Be as nerdy as you want!">
   </div>

   <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">I am a</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth" id="gender">
            <select>
              <option>Male</option>
              <option>Female</option>
              <option>Trans</option>
              <option>Non-Binary</option>
              <option>Prefer Not To Say</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal drop-down">
    <div class="field-label is-normal">
      <label class="label">I am looking for a</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth" id="seeking_gender">
            <select>
              <option>Male</option>
              <option>Female</option>
              <option>I don't care what's in your pants</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Show</label>
    </div>
     <input class="input" type="text" id="tvshow" placeholder="It's ok to say 'The Bachelor'">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Movie</label>
    </div>
     <input class="input" type="text" id="movie" placeholder="Which movie made you ugly cry?">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Taste in Music</label>
    </div>
     <input class="input" type="text" id="music" placeholder="What genre makes you jam out?">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Favorite Book</label>
    </div>
     <input class="input" type="text" id="book" placeholder="There's more than Game of Thrones?">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Hobbies</label>
    </div>
     <input class="input" type="text" id="hobbies" placeholder="Hanging out with your cat counts.">
   </div>

   <div class="field-body">
    <div class="field-label is-normal">
      <label class="label" >Idea of Fun</label>
    </div>
     <input class="input" type="text" id="fun" placeholder="Going outside? Staying in?">
   </div>

   <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">What kind of Geek are you?</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" id="geek" placeholder="Seriously if you put 'I love hiking' I'm gonna lose it."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary" id="submit_btn">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
   </div>
      </section>
{{!-- </div> --}}
<script src="/js/newUser.js"></script>