<section class="hero is-info is-fullheight">
    <video autoplay muted loop id="myVideo">
        <source src="https://player.vimeo.com/external/531743658.hd.mp4?s=8b91214398b4cb2fc1d00a49af177e2ed968662f&profile_id=172&oauth2_token_id=57447761" type="video/mp4">
    </video>
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <h1 class="title">GeekSeek</h1>                        </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/login">
                                <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                                <span>Log In</span>
                            </a>
                    </div>
                </div>
            </div>
        </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        Geek Seeking Geek 
                    </h1>
                    <h2 class="subtitle">
                        People who geek out over sci-fi, horror, fantasy, animation, anime, and comics as well as video gamers, 
                        cosplay lovers, and more, together at last, making it easy for the geeks of the world to find love.
                        </h2>
                        <div>
<<<<<<< HEAD
                            <a class="button" href="/newuser">Create Account</a>
                            
=======
                            <a class="button" href="/newuser">Create Account</a>                         
>>>>>>> 9bcdb0e29dba27a36e5bd91acf7af050a56e79bd
                            </div>
                        </div>
                </div>
            </div>
        </div>

</section>
<script src="/js/logout.js"></script>
{{!-- <script async type="text/javascript" src="../js/bulma.js"></script> --}}
