.hero {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  /* background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://images.unsplash.com/uploads/14133952228810cd761f5/91656487?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  color: white;
}

.textarea {
  display: block;
  max-width: 50%;
  min-width: 50%;
  padding: calc(.75em - 1px);
  resize: vertical;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 60px;
  color: white;
}
h2 {
  font-size: 1.2em;
  padding-bottom: 80px;
  color: white;
}
.label {
  font-size: 1.2em;
  font-weight: 200;
  color: white;
}
.input {
  width: 300px;
}

.geek-photo {
    border-radius: 15% !important;
}

html,body {
    background: linear-gradient(0.25turn, #6a5ce6, #f2b3fa);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .hero-body .container {
    max-width: 700px;
  }
  .hero-body .title {
    color: hsl(192,17%,99%) !important;
  }
  .hero-body .subtitle {
    color: hsl(192,17%,99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
  }
  .features {
    padding: 5rem 0;
  }
  .box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  .card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #2187ca;
  }
  .card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
  }
  .card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
  }
  .intro {
    padding: 5rem 0;
    text-align: center;
  }
  .sandbox {
    padding: 5rem 0;
  }
  .tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
  }
  .is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
  }
  /*adds font awesome stars*/
  footer li:before {
    content: '\f1b2';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #2c4869;
  }

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.box-background-color {
  background-color: white;
  padding: 1rem;
}

.test{
  margin-left: 10%;
}

.infoinput {
  height: 33%;
}

.subtitle {
  border-radius: 35px;
}

@media screen and (min-width: 1088px){
  .navbar-center{
      display:flex;
      justify-content: stretch;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      flex-direction: row;
  }
  .navbar-link,.navbar-item{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
  }
    .navbar-dropdown .navbar-item{
      justify-content:left;
    }	
  }
