html {
    background: linear-gradient(0.25turn, #6a5ce6, #f2b3fa);
  }

body {
    color: white;
  }
  
  .textarea {
    display: flex;
    padding: calc(.75em - 1px);
    resize: vertical;
}

  h1 {
    font-size: 2.5em;
    padding-bottom: 60px;
    color: white;
  }
  h2 {
    font-size: 1.2em;
    padding-bottom: 80px;
    color: white;
  }
  .label {
    font-size: 1.2em;
    font-weight: 200;
    color: white;
  }
  .input {
  display: block;
  margin-left: auto;
  margin-right: 34%;
  margin-bottom: 3%;
  width: 30%;
  }

  .drop-down{
      margin-left: 21.5%;
      }